<body>


    <div class="slide-container swiper slide-container1">
        <div class="slide-content slide-content1">
            <a routerLink="/miNutricion" routerLinkActive="active" >

                <div class="card-wrapper swiper-wrapper">

                    <div class="card_noti swiper-slide">
    
                        <div class="image-content">
                            <img src="https://images.squarespace-cdn.com/content/v1/5d407ce4a7c4150001a5f2b1/1571249277843-6AII5V7EWYKOU4PUFGEX/IMC-38.png"
                                alt="" class="card-img">
                        </div>
                        <div class="card-contenido">
                            <h2 class="name__tittle">Calculo de masa corporal</h2>
                            <p class="description__text">
    
                                <br>
                                El índice de masa corporal (IMC) es un número que se calcula con base en el peso y la
                                estatura de la persona.
                            </p>
    
                        </div>
                    </div>
                </div>

            </a>
     

        </div>

        <div class="slide-content slide-content1">
            <div class="card-wrapper swiper-wrapper">

                <a routerLink="/tarjetas" routerLinkActive="active">
                    <div class="card_noti swiper-slide">

                        <div class="image-content">
                            <img src="https://www.cardamomo.news/__export/1642903893262/sites/debate/img/2022/01/22/comida_saludable.png_1902800913.png"
                                alt="" class="card-img">
                        </div>
    
    
                        <div class="card-contenido">
    
                            <h2 class="name__tittle">Selecciona una dieta</h2>
    
                            <p class="description__text">
    
                                <br>
                                Una dieta es el conjunto de las sustancias alimenticias que componen el comportamiento
                                nutricional de los seres vivos.
                            </p>
                        </div>
                    </div>
                </a>

               
            </div>

        </div>




    </div>



    <!--

   <div class="centrado">

    <div class="card edicion" style="width: 18rem;">
        <img src="https://www.cardamomo.news/__export/1642903893262/sites/debate/img/2022/01/22/comida_saludable.png_1902800913.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Selecciona una dieta</p>
        </div>
      </div>

      <div class="card edicion" style="width: 18rem;">
        <img src="https://images.squarespace-cdn.com/content/v1/5d407ce4a7c4150001a5f2b1/1571249277843-6AII5V7EWYKOU4PUFGEX/IMC-38.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Calculo de indice de masa corporal</p>
        </div>
      </div>

   </div>
-->


</body>