
<form [formGroup]="RegisForm" (ngSubmit)="enviar()">

<div class="p-3">
  <h1>Jesus Demetrio Salazar Gonzalez</h1>
</div>

<div class="row p-5">

<div class="col">
  <div class="p-3" style="max-width: 500px;">
    <h2>Sexo</h2>
    <select class="form-select" formControlName="Sexo" >
        <option selected>Selecciona Sexo</option>
    <option value="Hombre">Hombre</option>
    <option value="Mujer">Mujer</option>
    </select>
  </div>
  
  <div class="p-3" style="max-width: 500px;">
    <h2>Edad</h2>
    <input name="usuario" class="form-control" type="text"  placeholder="Años" formControlName="Edad"> 
  </div>
  
  <div class="p-3" style="max-width: 500px;">
    <h2>Datos Corporales</h2>
  
    <div class="row">
  <div class="col">
    <div class="input-group flex-nowrap ">
      <input name="usuario" class="form-control" type="text"  placeholder="Peso" formControlName="Peso"> 
      <span class="input-group-text" id="addon-wrapping">Kg</span>
    </div>
  </div>
  <div class="col">
    <div class="input-group flex-nowrap ">
      <input name="usuario" class="form-control" type="text"  placeholder="Estatura" formControlName="Altura"> 
      <span class="input-group-text" id="addon-wrapping">Cm</span>
    </div>
  </div>
  </div>
    </div>  
  
  <div class="p-3" style="max-width: 500px;" >
    <h2>Padecimientos</h2>

    <div class="input-group flex-nowrap ">
      <select class="form-select" aria-label="Default select example" formControlName="Padecimientos">
        <option selected>Selecciona</option>
        <option [value]="item" *ngFor="let item of padecimientos">{{item}}</option>
      </select>
      <span  ><button class="btn" style="background-color: #006633;color:white;" (click)="agregarPadecimiento()" type="button">Agregar</button></span>
    </div>

    
  </div>
  
  <div class="p-3" style="max-width: 500px;">
    <h2>Alergias</h2>

    <div class="input-group flex-nowrap ">
      <select class="form-select"  formControlName="Alergias">
        <option selected>Selecciona</option>
        <option [value]="item" *ngFor="let item of alergias">{{item}}</option>
      </select>
      <span  ><button class="btn" style="background-color: #006633;color:white;" (click)="agregarAlergia()" type="button">Agregar</button></span>
    </div>
 
  </div>


</div>

<div class="col" >
  <h2>Padecimientos del Usuario</h2>
  <ul style="line-height: 40px; width: 350px;">
    <li *ngFor="let item of padecimientosUsuario" style="font-size: large;">
<div class="row">
  <div class="col">
{{item}}
  </div>
  <div class="col">
    <a class="pointer" style="color:red" matTooltip="Eliminar Padecimiento" > <button class="btn btn-danger btn-sm" (click)="borrarPadecimiento(item)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
    </svg></button> </a>
  </div>
</div>
        
    </li>
   </ul>

   <h2>Alergias del Usuario</h2>
   <ul style="line-height: 40px; width: 350px;">
     <li *ngFor="let item of alergiasUsuario" style="font-size: large;">
 <div class="row">
   <div class="col">
 {{item}}
   </div>
   <div class="col">
     <a class="pointer" style="color:red" matTooltip="Eliminar Alergia" > <button class="btn btn-danger btn-sm" (click)="borrarAlergia(item)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
       <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
       <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
     </svg></button> </a>
   </div>
 </div>
         
     </li>
    </ul>

</div>

</div>

<div class="row p-4">
  <button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #006633;color:white;" type="submit">Enviar</button> 
</div>

</form>


<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Respuesta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-respuesta 
        [imc]="imc"
        [padecimientos]="padecimientosUsuario"
        ></app-respuesta>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>